**/.dockerignore
**/.git
**/.gitignore
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/bin
**/obj
**/out
**/node_modules
**/npm-debug.log
**/wwwroot/dist

# TeamsForge specific
TeamsForgeAPI/bin
TeamsForgeAPI/obj
TeamsForgeAPI/Migrations
teamsforge-client/node_modules
teamsforge-client/dist
teamsforge-client/.angular

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa]rm/
[Aa]rm64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Database
*.db
*.db-shm
*.db-wal
